body{

    margin:8%;

    .title-container{
            background-image: url(home.png);
            background-size: 160px;
            width: 160px;
            height: 160px;

        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
     
    h1{
        font-size: 5rem;
        display:flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: white;


    button{
        justify-content: center;
        align-items: center;
        width: 50px;
    }
   }   
  }//end title comtainer
  .artist-container{
      width:20%;
      height: 20px;
      
    .artist{
        width:50%;
    }
    img{
        max-width: 30px;
        max-height: 30px;
        width:10px;
        height:10px;

    }
  }
  



}